/* You can add global styles to this file, and also import other style files */

body {
  background-color: #421367 !important;
}

.fullheight {
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
}