<div class="col-12 d-flex justify-content-center align-items-center fullheight">
  <div class="card col-10 col-md-auto p-3">
    <form action="/submit" method="post">
      Please enter the OTP (One-Time-Password) that was send to you by mail.
      <p></p>
      <div class="row d-flex justify-content-center">
        <div class="form-floating mb-3 col-8 col-sm-6">
            <input type="text" class="form-control" id="answer" name="answer" placeholder="">
            <label for="answer">2FA Code</label>
        </div>
      </div>
      <p></p>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
